---
---

@import "{{ site.theme }}";

#header_wrap .inner {padding: 30px 10px 20px 10px;}
nav a {
    margin-right: 30px;
    color: white;
    font-size: 13pt;
}
#main_content {
    min-height: 500px;
}

img {
    margin: 0px;
}

#fancybox-img {
	max-width: none;	
}

.inner {
    max-width: 800px;
}

i {
	font-style: italic;
}