---
layout: default
---
<!-- {% comment %}
Old split site
<h1> Current Blog Post </h1>
{% assign post = site.posts.first %}
{% include post_summary.html post=post %}

<h1> Previous Blog Posts</h1>
<ul>
  {% for post in site.posts %}
  {% if post.id != site.posts.first.id %}
    <li>
      {% include post_summary.html post=post %}
    </li>
  {% endif %}
  {% endfor %}
</ul>
{% endcomment %}-->

<h1>
  Blog Posts
  <a href="http://www.dillonlareau.com/feed.xml">
    <img style= "margin: -8px; margin-left: 0px; width: 30px;"
         src="/assets/images/social_media/rss.png" alt="RSS image"
    />
  </a>
</h1>
<ul>
  {% for post in site.posts %}
    <li>
      {% include post_summary.html post=post %}
    </li>
  {% endfor %}
</ul>