---
layout: default
---
<!-- {% comment %}
Old split site
<h1> Current Blog Post </h1>
{% assign post = site.posts.first %}
{% include post_summary.html post=post %}

<h1> Previous Blog Posts</h1>
<ul>
  {% for post in site.posts %}
  {% if post.id != site.posts.first.id %}
    <li>
      {% include post_summary.html post=post %}
    </li>
  {% endif %}
  {% endfor %}
</ul>
{% endcomment %}-->

<h1> Blog Posts </h1>
<ul>
  {% for post in site.posts %}
    <li>
      {% include post_summary.html post=post %}
    </li>
  {% endfor %}
</ul>